<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}">
            <img src="https://toppng.com/uploads/preview/fire-logo-png-svg-free-download-fire-logo-11563553513c3wo0p7dt1.png" alt="..." height="30">
            Fire Sale!
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            </ul>
            {% if user.is_authenticated %}
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <form class="d-flex pull-left">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" href="#">My items</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#"><span class="bi bi-envelope"></span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> <img src="https://www.seekpng.com/png/detail/514-5147412_default-avatar-icon.png" height="36"></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Edit profile</a></li>
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Sign out</a></li>
                    </ul>
                </li>
            </ul>
            {% else %}
            <ul class="navbar-nav">
                <li class="nav-item">
                    <form action="{% url 'login' %}">
                        <input class="btn btn-outline-primary" type="submit" value="Log in"/>
                    </form>
                </li>
                <li class="nav-item">
                    <form action="{% url 'register' %}">
                        <input class="btn btn-outline-secondary" type="submit" value="Sign up"/>
                    </form>
                </li>
            </ul>
            {% endif %}
        </div>
    </div>
</nav>