.index {
    border-bottom: solid 2px rgba(155, 155, 155, .5);
}
.login{
    border: 2px solid red;
}

.items {
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-content: space-between;
    padding: 1em;
}

.item {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-basis: auto;
    width: 33%;
    height: auto;
    margin: 0.1em;
    padding: 1em;
    text-decoration: none;
    border-radius: 10%;
}

.item-img{
    height: 20em;
    width: 100%;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10%;
}

.item-name {
    color: black;
    margin-top: 0.5em;
    margin-bottom: -0.5em;
}

.item-description {
    color:black;
    margin-top: -1em;
}

.item-detail-img{
    height: 15em;
    width: auto;
    object-fit: cover;
    display: block;
    margin-right: 1em;
    border-radius: 5%;
}

.offer-input-bar {
    width: 25%;
}