.index {
    margin-top: 10em;
}
.login{
    border: 2px solid red;
}

.items {
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-content: space-between;
    padding: 1em;
}

.item {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-basis: auto;
    width: 33%;
    height: auto;
    margin: 0.1em;
    padding: 1em;
    text-decoration: none;
    border-radius: 40px;
}

.item-img{
    height: 20em;
    width: 100%;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 40px;
}

.item-name {
    color: black;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.item-description {
    color:black;
}

.item-detail-img{
    height: 15em;
    width: auto;
    object-fit: cover;
    display: block;
    margin-right: 1em;
    border-radius: 5%;
}

.offer-input-bar {
    width: 25%;
}

.profile-dropdown {
    width: 15em;
    text-align: center;
}

.profile-dropdown-bio {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.inbox-container {
    display: flex;
    justify-content: center;
    width: auto;
}

.inbox-outer-container {
    margin-top: 1em;
    display: inline-block;
    justify-content: center;
    width: 100%;
}

.message {
    text-align: center;
    text-decoration: none;
}

.inbox-container:nth-child(1){
    display: block;
}

.offer-container {
     display: grid;
     grid-template-columns: auto 25%;
     /*grid-template-columns: auto 300px;*/
     grid-column-gap: 30px;
}

.my-item-main {
   width: 80%;
    display: inline-block;
    float: left;
    justify-content: center;
    text-align: center;
}

.my-item-sidebar {
    width: 20%;
    display: inline-block;
    float: left;
    justify-content: center;
    text-align: center;
}

.item-main {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2em;
}

.place-offer-container {
    display: block;
    text-align: center;
}

.place-offer {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.edit-profile-container {
    display: inline-block;
    margin-left: 25%;
    margin-right: auto;
    width: 50%;
    justify-content: center;
}

#payment-info{

}

.return-msg {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

----------------------

.action {
  position: fixed;
  top: 20px;
  right: 30px;
}

.action .profile {
  position: relative;
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.action .profile img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.action .menu {
    display: flex;
    position: absolute;
    justify-content: center;
    flex-wrap: wrap;
    right: 0em;
    padding: 10px;
    background: #fff;
    width: 15em;
    border-radius: 15px;
    visibility: hidden;
    opacity: 0;
}

.action .menu.active {
  top: 80px;
  visibility: visible;
  opacity: 1;
}


.action .menu h3 {
  width: 100%;
  text-align: center;
  font-size: 18px;
  padding: 20px 0;
  font-weight: 500;
  color: #555;
  line-height: 1.5em;
}

.action .menu h3 span {
  font-size: 12px;
}

.action .menu ul li {
  list-style: none;
  padding: 16px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
}

.action .menu ul li img {
  max-width: 20px;
  margin-right: 10px;
  opacity: 0.5;
  transition: 0.5s;
}

.action .menu ul li:hover img {
  opacity: 1;
}

.action .menu ul li a {
  display: inline-block;
  text-decoration: none;
  color: #555;
  font-weight: 500;
}
