{% extends 'base.html' %}
{% block content %}
    <div class="container text-center" id="contact-info">
        <h4 class="text-center">Checkout on item: {{ item.name }}</h4>
        <p class="text-center"><u>Contact information</u> > Payment > Review</p>
        <div class="container-fluid bg-light text-dark border border-secondary rounded p-4 w-25">
            <form method="post">
                {% csrf_token %}
                {{ contact_form }}
                <button type="submit" class="btn btn-primary mt-2">Continue to payment</button>
            </form>
        </div>
    </div>
{% endblock %}
