{% extends 'base.html' %}
{% block content %}
    {% if item.seller.id == user.id %}
        <div class="my-item-main">
        <h2 class="">{{ item.name }}</h2>
        <p class="">{{ item.description }}</p>
        <p>Seller: {{ item.seller }}</p>
        <p>Condition: {{ item.condition }}</p>
        <p>Current hightest offer amount: {{ max_price }}</p>
        <div class="items">
          {% for image in images %}
              <img class="img-thumbnail item-detail-img" src="{{image}}" />
          {% endfor %}
        </div>
        </div>
        <div class="my-item-sidebar">
            <h4 class="">Offers</h4>
            <ul class="list-group">
                {% for offer in offers %}
                    <!-- Hér er hægt að geta lista yfir tilboð -->
                    <li class="list-group-item message">
                        {% csrf_token %}
                        Offer: {{ offer }}<br>
                        <button type="button" class="btn btn-outline-success" onclick="send_offer_msg({{ offer.id }}, true)">Accept</button>
                        <button type="button" class="btn btn-outline-danger" onclick="send_offer_msg({{ offer.id }}, false)">Reject</button>

                    </li>
                {% endfor %}
            </ul>
            <script type="text/javascript">
              function send_offer_msg(offer_id, accept) {
                const xhr = new XMLHttpRequest();

                xhr.open('POST', '/checkout/{{item.id}}/');
                //xhr.setRequestHeader("Accept", "application/json");
                xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                /*const data = {
                  'offer_id': offer_id,
                  'action': accept ? 'accept': 'reject'
                }*/

                const action = accept ? 'accept' : 'reject';


                const data = "action=" + action + '&offer_id=' + offer_id;
                xhr.send(data);
              }
            </script>
        </div>
    {% else %}
        <div class="item-main">
            <h2 class="">{{ item.name }}</h2>
            <p class="">{{ item.description }}</p>
            <p>Seller: {{ item.seller }}</p>
            <p>Condition: {{ item.condition }}</p>
            <p>Current hightest offer amount: {{ offer }}</p>
            <div class="place-offer-container ">
                 <form class="d-flex pull-left w-25 place-offer" method="POST">
                     <!--<input class="form-control me-2 offer-input-bar" type="number" name="offer-input" placeholder="Offer amount" aria-label="offer-input" value="Offer amount">-->
                    <div>
                        {% csrf_token %}
                        {{ form }}
                        <button class="btn btn-outline-primary" type="submit">Place offer</button>
                    </div>
                </form>
            </div>

        </div>
        <div class="items">
          {% for image in images %}
              <img class="img-thumbnail item-detail-img" src="{{image}}" />
          {% endfor %}
        </div>
    {% endif %}
{% endblock %}
